* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 350px;
}

.calc-display {
    width: 250px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}

.display {
    word-wrap: break-word;
    border: 1px solid black;
    color: white;
}

.calc-buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.calc-buttons div{
    border: 1px solid black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.grey-btns {
    background-color: rgb(191, 219, 215);
}

.orange-btns {
    background-color: rgb(166, 255, 0);
    color: white;
}

.dark-grey-btns {
    background-color: rgb(27, 27, 27);
    color: white;
}

.btn-0 {
    flex-basis: 115px;
    justify-content: flex-start;
}