* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 350px;
}

.calc-display {
    width: 250px;
    height: 70px;
}

.calc-buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.calc-buttons div{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-grow: 1;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.btn-0 {
    flex-basis: 115px;
}